<app-primeiro-componente></app-primeiro-componente>
<app-segundo-componente></app-segundo-componente>
<app-pipe-customizado></app-pipe-customizado>
<app-two-way-databind></app-two-way-databind>
<app-render-list></app-render-list>
<app-componente-personalizado nome="Mario" sobrenome="Astolfo"></app-componente-personalizado>
<app-componente-personalizado nome="Paulo" sobrenome="Almeida"></app-componente-personalizado>
<app-componente-personalizado nome="Andre" sobrenome="Pereira"></app-componente-personalizado>
<app-componente-pai></app-componente-pai>